Thank you for considering my application. I would welcome the chance to discuss how I can help {{ company or 'your team' }} accelerate the {{ position or 'role' }} mandate and deliver outsized value. I look forward to connecting.

Sincerely,
{{ applicant.name }}
